html, body {
    height: 100%;
    margin: 0;
}
.leaflet-container {
    height: 400px;
    max-width: 100%;
    max-height: 100%;
}

.leaflet-popup-content {
    text-align: center;
}

.metric {
    height: 100px;
    max-width: 100%;
    max-height: 100%;
}

#map { 
    box-shadow: 5px 5px 5px rgb(4, 4, 4);
    border: 1px solid black;
    padding: 20px;
    border-radius: 8px;
}

.info { 
    padding: 6px 8px; 
    font: 14px/16px Arial, Helvetica, sans-serif; 
    background: white; 
    background: rgba(255,255,255,0.8); 
    box-shadow: 0 0 15px rgba(0,0,0,0.2); 
    border-radius: 5px; } .info h4 { margin: 0 0 5px; color: #777; }

.legend { 
    text-align: left; 
    line-height: 18px; 
    color: #555; 

} .legend i { 
    width: 18px; 
    height: 18px; 
    float: left; 
    margin-right: 8px; 
    opacity: 0.7; }

body {
    background-color: rgb(131, 131, 132);
    /* background-color: rgb(137, 114, 157); */
    /* background-image: url('https://i.giphy.com/xGrjBxxEBvWTBtkAk4.webp');
    background-size: cover; 
    background-repeat: no-repeat;  */
}

.dashboard {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 20px;
    padding: 20px;
}

.card {
    background-color: rgb(235, 235, 235);
    /* background-color: white; */
    border: 1px solid black;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 5px 5px 5px rgb(7, 7, 7);
}

.smallest-card {
    grid-column: span 1;
    text-align: center;
}

.small-card {
    grid-column: span 2;
    text-align: center;
}

.medium-card {
    grid-column: span 3;
    height: 400px;
}

.large-card {
    grid-column: span 4;
}

.xlarge-card {
    grid-column: span 6;
    /* height: 400px; */
}
#chart1, #chart2, #chart3, #chart4, #chart5, #chart6 {
    height: 400px;
}